#map_canvas{
    display: block;
    height: 100%;
    width: 100%;
}

.ion-md-navigate {
    color: #ED4248;
}

.ion-md-camera {
    color: #508AE4;
}

.action-sheet-cancel ion-icon,
.action-sheet-destructive ion-icon {
    color: #757575;
}